@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To A Tested Management Page</h1>
    <p>A very basic front page <small>I lack imagination</small></p>
    <h3>After years from my previous employment, I thought it would be fun to create my own management system</h3>

    <h2>Here's my to do checklist of things needed to completed before testing</h2>
    <small class="text-muted">(Subject to change as I wish to test some new features)</small>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item list-group-item-action list-group-item-success">Created a leave type view, model, controller with services - <small>Completed</small></li>
        <li class="list-group-item list-group-item-action list-group-item-success">Created user login with roles and permissions - <small>Completed</small></li>
        <li class="list-group-item list-group-item-action list-group-item-success">Created a quota for different leave types - <small>Completed</small></li>
        <li class="list-group-item list-group-item-action list-group-item-success">Set up admin view for employee timeoffs - <small>Completed</small></li>
        <li class="list-group-item list-group-item-action list-group-item-success">Employees can create a Time Off request - <small>Completed</small></li>
        <li class="list-group-item list-group-item-action list-group-item-success">Employees can view, edit and cancel their Time Off requests - <small>Completed</small></li>
        <li class="list-group-item list-group-item-action list-group-item-success">Admin can review Time Off requests - <small>Completed</small></li>
        <li class="list-group-item list-group-item-action list-group-item-success">Redirect to home page after completing any Time Off interaction - <small>Completed</small></li>
        <li class="list-group-item list-group-item-action list-group-item-warning">Changing the architecture of the program - <small>Pending</small></li>
        <li class="list-group-item list-group-item-action list-group-item-warning">Testing the architecture of the program - <small>Pending</small></li>
        <li class="list-group-item list-group-item-action list-group-item-warning">Test application using Playwright testing - <small>Pending</small></li>
        <li class="list-group-item list-group-item-action list-group-item-warning">Deploy using Azure - <small>Pending</small></li>
    </ol>
    <br />
    <br />
    <h2>After completing these task here are my future plans</h2>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item list-group-item-action list-group-item-warning">Create employee daily check in/ checkout</li>
        <li class="list-group-item list-group-item-action list-group-item-warning">Admin is able to edit daily checkin/ checkout</li>
        <li class="list-group-item list-group-item-action list-group-item-warning">Upload csv for large data import - <small>Ambitious but it feels possible with some research</small></li>
    </ol>

</div>
