@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To A Tested Management Page</h1>
    <p>Here I am testing the view ASP.NET view model.</p
    <h2>Here's my to do checklist of things needed to completed before testing</h2>
    <small class="text-muted">(Subject to change as I wish to test some new features)</small>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item list-group-item-action list-group-item-success">Set up admin view for employee timeoffs - <small>Completed</small></li>
      <li class="list-group-item list-group-item-action list-group-item-primary">Employee Time Off Request - <small>Commencing</small></li>
      <li class="list-group-item list-group-item-action list-group-item-warning">Changing the architecture of the program - <small>Pending</small></li>
      <li class="list-group-item list-group-item-action list-group-item-warning">Testing the architecture of the program - <small>Pending</small></li>
      <li class="list-group-item list-group-item-action list-group-item-warning">Deploy using Azure - <small>Pending</small></li>
    </ol>
</div>
